.portrait {
    width: 150;
    height: 200px;
    object-fit: cover;
}
#bottom-left-buttons-wrapper-div {
	position: fixed;
	bottom: 70px;
	left: 20px;	
	width: 180px;
}

.btn.btn-outline-blue {
	border: 1px solid white;
	height: 42px;
    width: 100px !important;
	color: rgb(40, 162, 209);
	border-radius: 0;
	color: white;
	margin-left: 20px;
	position: absolute;
}
.btn.btn-outline-blue.active {
	border: 1px solid rgb(40, 162, 209);
	color: rgb(40, 162, 209);
}
.btn.btn-outline-blue:hover {
	background-color: rgb(150, 150, 150);
}
